/[Bb]uild*/
/[Bb]in*/
/deephealth*
checkpoints*
images*
output*
/.vs*
/out*
/data*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# CMake
cmake-build-*/

# PyCharm
.idea*